/* Book.module.css */
.bookContainer {
    margin-bottom: 30px;
}

.bookTitle {
    font-size: var(--font-size-title2);
}

.bookTitle span {
    color: var(--color-span);
}

.bookSummary {
    font-size: var(--font-size-text);
    color: var(--color-title2);
}

