/* Ratings.module.css */
.ratingsContainer {
    padding: 0 20px 15px 20px;
}

.ratingsTitle {
    text-align: center;
    font-size: var(--font-size-title3);
}

.rating {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-background2);
}

.ratingSource {
    font-size: var(--font-size-title4);
}

.ratingValue {
    font-size: var(--font-size-title4);
}