/* Temario.module.css */
.temarioContainer {
    position: relative;
    width: 130px;
    height: 100px;
}

.layer1,
.layer2,
.layer3 {
    position: absolute;
    width: 130px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.layer1 img {
    width: 100%;
    height: 100%;
}

.layer2 {
    left: 4px;
    top: 2px;
    background-color: white;
}

.layer3 {
    left: 8px;
    top: 4px;
    background-color: white;
}

.temarioImages {
    overflow-y: scroll;
    height: 100%;
}