
.contextSpace {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.globalDivSpace {
    height: 2rem;
}

.localContextLinkCenter {
  /* flex-grow: 1; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.localContextLinkItem {
  padding-top: .5rem;
}
