.container {
    padding-top: 20px;
    padding-bottom: 15px;
}

.cover {
    position: relative;
    margin-bottom: 100px;
}

.coverImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}



.overlay {
    position: absolute;
    bottom: 0;
    background-color: var(--color-accent1);
}

.details,
.ratings {
    display: flex;
    justify-content: space-between;
}

.detailItem,
.rating {
    flex: 1;
    text-align: center;
}

.detailTitle {
    margin-bottom: 0.5rem;
}



.bookRecommendation .infoGrid,
.bookRecommendation .ratingsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}



.bookRecommendation .ratingsTitle {
    text-align: center;
}

.title {
    position: relative;
    padding-top: 20px;
}

.title:before {
    content: '';
    position: absolute;
    left: -100vw;
    /* Extiende la cinta hacia la izquierda del viewport */
    top: 0;
    width: calc(100vw - 10px);
    /* El ancho total menos el padding del título */
    height: 80%;
    z-index: -1;}


