.localContextLinksContainer {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
}

.localContextLinksContainer a {
    scroll-behavior: smooth;
}


.linkArrowRow {
    display: flex;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 7px;
}

.arrow {
    width: 7px;
    height: 2px;
    background-color: #B0B6B9;
    margin-right: 8px;
    /* Space between arrow and link */
    position: relative;
    margin-bottom: 7px;
    padding-right: 7px;

}

.arrow::before {
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    border: 3px solid transparent;
    border-left-color: #B0B6B9;
    transform: translateY(-50%);
}
