.carousel {
    display: flex;
    flex-direction: row;
    /* Changed to row for horizontal layout */
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.imageArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 25rem;
    height: 25rem;
    position: relative;
    margin: 0 2rem;
    border-radius: .5rem;
    /* Add border-radius here */
    overflow: hidden;
    /* This makes sure the border-radius affects the image */
}

/* ... other styles remain the same ... */

.description {
    font-family: var(--font-noto-serif-georgian);
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    /* Center the text */
}

.image {
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    /* object-fit: cover; */
}

.arrow {
    cursor: pointer;
    color: var(--color-soft-blue);
    font-size: 3.4rem;
    font-weight: 900;
    user-select: none;
    /* Add flex to center vertically */
    display: flex;
    align-items: center;
    justify-content: center;

}
