.localContextLinksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 1rem;
    padding-bottom: 3rem;
}

.linkText {
    font-family: var(--font-noto-serif-georgian);
    background-color: var(--color-button);
    color: var(--color-a2);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    padding: .8rem 0.8rem;
    font-size: 1.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el texto a la izquierda dentro del botón */
    font-weight: 600;
    /* Elimina width: 100% para que el tamaño se ajuste al contenido */
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}
