.footer {
  background-color: var(--color-background1);
  padding: 4rem 0;
  text-align: center;
  box-shadow: var(--shadow-effect);
  margin-top: 5rem;
}

.footerMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerMenu li {
 padding: 5px;
}

.footerMenu a {
  color: var(--color-title4);
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerMenu a:hover {
  color: var(--color-accent1);
  text-decoration: underline;
}


.textFooter {
  color: var(--color-background3);
  font-size: 1.5rem;
}

.goldText {
  color: #9e8123;
  padding: 0;
  font-size: 1.5rem;
  padding-bottom: .5rem;
}