@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-h1: #035480;
  /* --color-h1: #005d8f; */
  /* --color-h1: #00659A; */
  /* --color-h2: #003c85; */
  --color-h2: rgb(0, 111, 167);
  /* --color-h2: rgb(23, 114, 160); */
  /* --color-h2: #1c4b4e; */
  /* --color-h2: #326a8b; */
  /* --color-h2: #005f6c; */
  /* --color-h2: #00627e; */
  /* --color-h2: #00635c; */
  --color-h3: #744c1c;
  /* --color-h3: #766246; */
  --color-h4: #1a6157;
  --color-h5: #2E4053;
  --color-p: #000b12;
  --color-strong: #090909;
  /* --color-p: #243b48; */
  --color-a: #ad0048;
  --color-a2: #5c8eaa;
  /* --color-accent1: #0075c3; */
  --color-accent1: #3498db;
  --color-accent2: #cf4336;
  --color-accent3: #16a085;
  --color-gold: #5d4a15;
  --color-background1: #f4f6f6;
  --color-background2: #cfd3d3;
  --color-background3: #B0B6B9;
  --color-border: #d2e3ec;
  /* --color-border: #9bc1d6; */
  --color-button: #EAF0F3;
  --color-menu: #e9edef;
  --color-span: rgb(153, 171, 181);
  /* --color-span: rgb(45, 132, 175); */
  /* --color-span: rgb(138, 184, 205); */
  /* --color-span: #7497a8; */
  /* --color-span: #588196; */
  /* --color-span: #466f82; */
  /* --color-span: #004c6f; */
  --color-dark: #2c3e50;
  --color-light: #e1ebef;
  --color-active: #00A40B;
  --color-soft-blue: #95D5FF;
  --color-soft-green: #BAE9D2;
  --color-green-text: #197D4F;
  --color-darkgreen-text: #71a5a2;

  --font-size-p: 1.5rem;
  --font-size-small-p: 1.5rem;
  --font-size-h1: 2.8rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.3rem;
  --font-size-a: 1.5rem;
  --font-size-h6: 1.3rem;
  --font-size-nav-item-menu-field: 1.5rem;
  --font-size-nav-item-menu-branch: 1.5rem;
  --font-size-nav-item-menu: 1.3rem;

}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes growShrink {

  0%,
  100% {
    borderTopWidth: 10px;
    borderTopLeftRadius: 10px;
    borderTopRightRadius: 10px;
  }

  50% {
    borderTopWidth: 5px;
    borderTopLeftRadius: 0;
    borderTopRightRadius: 0;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-accent1);
  border-radius: 0.6rem;
}

html::-webkit-scrollbar-track {
  background: var(--color-background2);
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}


body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-soft-blue);
  border-radius: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-background2);
}

body {
  background: var(--color-background1);
  /* background: var(--color-background1); */
  margin: 0 auto;
  background-image: linear-gradient(#F1F1F1 2px, transparent 2px),
    linear-gradient(90deg, #F1F1F1 2px, transparent 2px);
  background-size: 2rem 2rem;

}


main {
  min-height: 100vh;
  max-width: 75rem;
  width: auto;
  padding: 0rem 1.6rem;
  padding-top: 10rem;
  margin: 0 auto;
  position: static;
  text-align: center;
}

section {
  text-align: left;
  width: 100%;
}

li {
  font-size: 1.5rem;
}
a {
  color: var(--color-a);
  text-decoration: none;
  display: block;
  font-size: var(--font-size-a);
  line-height: 1.5;
  /* padding: .4rem 0; */
  font-weight: 400;
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
  color: var(--color-p);
  padding-bottom: 1.2rem;
  line-height: 1.5;
  /* text-wrap: balance; */
}

.p2 {
  font-weight: 600;
  padding-bottom: 0rem;
}


h1 {
  font-family: var(--font-noto-serif-georgian);
  font-size: var(--font-size-h1);
  font-weight: 900;
  color: var(--color-h1);
  text-align: center;
  line-height: 1.3;
  padding-bottom: 5rem;
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--color-h2);
  font-weight: 700;
  padding-top: 3.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-h3);
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  /* font-family: var(--font-noto-serif-georgian); */
  font-size: var(--font-size-h4);
  color: var(--color-h4);
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h5 {
  /* font-family: var(--font-noto-serif-georgian); */
  font-size: var(--font-size-h5);
  color: var(--color-h5);
  font-weight: 400;
}

h6 {
  /* font-family: var(--font-noto-serif-georgian); */
  font-size: var(--font-size-h6);
  font-weight: 400;
  color: var(--color-h6);
}

li {
  list-style: none;
  font-family: var(--font-family-nav-subfield);
  font-size: 1.2rem;
}


span {
  color: var(--color-span);
  /* font-weight: 600; */
}

strong {
  /* font-size: var(--font-size-p); */
  color: var(--color-strong);
  font-weight: 700;
}

.globalHeight {
  height: 2rem;
  /* era 20px */
}

.active-color {
  color: var(--color-active-element);
}

.max-width {
  max-width: 30rem;
  margin: auto;
  text-align: center;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h1,
h2,
h3,
h4,
h5,
p,
a,
svg,
span,
h6,
.animate {
  animation: fadeUp .9s ease forwards;
  opacity: 0;
  transform: translateY(10px);
  animation-delay: calc(var(--animation-order) * 100ms);
}

li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: calc(var(--animation-order) * 100ms);
  line-height: 1.4rem;
}

.button {
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}


.active-color {
  transition: color 0.3s ease;
}

.active-color:hover {
  color: var(--color-accent1);
}

.shadow-effect {
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.button {
  background-color: var(--color-light);
  border: 0.2rem solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  border-color: var(--color-accent1);
}

input,
textarea,
button {
  font-family: var(--font-family-title1);
  color: var(--color-active-element);
  border: 0.3rem solid var(--color-active-element);
  border-radius: 0.5rem;
  padding: 0rem 0rem;
}

input:focus,
textarea:focus {
  border-color: var(--color-accent2);
  outline: none;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  /* era 2px 2px 4px */
}

a:hover {
  color: var(--color-accent1);
  text-decoration: underline;
}


h3:hover {
  color: var(--color-accent1);
  text-decoration: underline;
}


.active-gold {
  color: var(--color-gold);
  font-weight: 700;
}

.active-gold2 {
  color: var(--color-gold);
  text-decoration: underline;
}

.active {
  color: var(--color-h1);
  font-weight: 700;
}


.smallText {
  font-size: 1.5rem;
  padding-bottom: .3rem;
}


.smallText2 {
  font-size: 1.3rem;
}



/* Estilos para tabletas */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }

/* 
  h5 {
    font-size: 1.5rem;
  } */

  /* main {
    padding: 0rem 3rem;
    padding-top: 11rem;
    margin: 0 auto;
  } */
}

@media only screen and (min-width: 1025px) {
  html {
    font-size: 11px;
  }

  /* main {
    padding: 0rem 3rem;
    padding-top: 12rem;
    margin: 0 auto;
  } */
}