:root {
  --color-title1: #2e4053;
  --color-title2: #2c3e50;
  --color-title3: #6a7c85;
  --color-title4: #2e4053;
  --color-title5: #B0B6B9;
  --color-title6: #B0B6B9;
  --color-span: #B0B6B9;
  --color-active-element: #3498db;
  --color-background1: #f4f6f6;
  --color-background2: #d5dbdb;
  --color-background3: #B0B6B9;
  --color-menu: #e9edef;
  --color-span: #6a7c85;
  --color-accent1: #e74c3c;
  --color-accent2: #16a085;
  --color-dark: #2c3e50;
  --color-light: #e9edef;
  /* Tipografía */
  --font-family-text: "Crimson Text", serif;
  --font-family-title1: "Montserrat", sans-serif;
  --font-family-title2: "Montserrat", sans-serif;
  --font-family-nav-field: "Montserrat", sans-serif;
  --font-family-nav-branch: "Montserrat", sans-serif;
  --font-family-nav-subfield: "Montserrat", sans-serif;
  --font-size-text: 1.9rem;
  --font-size-title1: 2.8em;
  --font-size-title2: 2rem;
  --font-size-title3: 1.5rem;
  --font-size-title4: 1.9rem;
  --font-size-title5: 1.7rem;
  --font-size-title6: 1.3rem;
  --font-size-nav-item-menu-field: 1.5rem;
  --font-size-nav-item-menu-branch: 1.5rem;
  --font-size-nav-item-menu: 1.3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes growShrink {

  0%,
  100% {
    borderTopWidth: 10px;
    borderTopLeftRadius: 10px;
    borderTopRightRadius: 10px;
  }

  50% {
    borderTopWidth: 5px;
    borderTopLeftRadius: 0;
    borderTopRightRadius: 0;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html::-webkit-scrollbar {
  width: 0.5rem;
} */

html::-webkit-scrollbar-thumb {
  background: var(--color-accent2);
  border-radius: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: var(--color-background2);
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}


body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-accent2);
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-background2);
}

body {
  background: var(--color-background1);
  /* background: var(--color-menu); */
  /* overflow-x: hidden;
  overflow-y: scroll; */
  margin: 0 auto;
}

main {
  /* overflow-y: scroll; */
  min-height: 100vh;
  max-width: 60rem;
  /* era 320px */
  width: auto;
  padding: 0rem 1.5rem;
  padding-top: 8rem;
  margin: 0 auto;
  position: relative;
}

a {
  color: var(--color-title6);
  text-decoration: none;
  display: block;
  font-family: var(--font-family-text);
  font-size: var(--font-size-title5);
  font-style: italic;
  line-height: 1.1;
  padding: .4rem 0;
}

p {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  color: var(--color-title1);
  padding-bottom: 0.7rem;
  line-height: 1.3;
  text-wrap: balance;
}

h1 {
  font-family: var(--font-family-title1);
  font-size: var(--font-size-title1);
  font-weight: 900;
  color: var(--color-title1);
  text-align: center;
  line-height: 1;
  padding-bottom: 2.8rem;
}

h2 {
  font-family: var(--font-family-title2);
  font-size: var(--font-size-title2);
  color: var(--color-title1);
  font-weight:600;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: var(--font-family-title1);
  font-size: var(--font-size-title3);
  color: var(--color-title3);
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-title4);
  color: var(--color-title4);
  font-weight: 400;
  padding-bottom: 1rem;
}

h5 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-title5);
  color: var(--color-title5);
  font-weight: 400;
}

h6 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-title6);
  font-weight: 400;
  color: var(--color-title6);
}

li {
  list-style: none;
  font-family: var(--font-family-nav-subfield);
  font-size: 1.2rem;
}

span {
  color: var(--color-span);
}

.globalHeight {
  height: 2rem;
  /* era 20px */
}

.active-color {
  color: var(--color-active-element);
}

.max-width {
  max-width: 30rem;
  margin: auto;
  text-align: center;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h1,
h2,
h3,
h4,
h5,
p,
a,
svg,
span,
h6,
.animate {
  animation: fadeUp .5s ease forwards;
  opacity: 0;
  transform: translateY(10px);
  animation-delay: calc(var(--animation-order) * 100ms);
}

li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: calc(var(--animation-order) * 100ms);
  line-height: 1.4rem;
}

.button {
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}



/* .no-scroll {
  overflow: hidden;
  height: 100%;
}

.menuWrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.menuWrapper::-webkit-scrollbar-thumb {
  background: var(--color-accent2);
  border-radius: 0.8rem;
}

.menuWrapper::-webkit-scrollbar-track {
  background: var(--color-background2);
} */

.active-color {
  transition: color 0.3s ease;
}

.active-color:hover {
  color: var(--color-accent1);
}

.shadow-effect {
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.button {
  background-color: var(--color-light);
  border: 0.2rem solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  border-color: var(--color-accent1);
}

input,
textarea,
button {
  font-family: var(--font-family-title1);
  color: var(--color-active-element);
  border: 0.3rem solid var(--color-active-element);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}

input:focus,
textarea:focus {
  border-color: var(--color-accent2);
  outline: none;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  /* era 2px 2px 4px */
}

a:hover {
  color: var(--color-accent1);
  text-decoration: underline;
}

/* .globalHeadPad {
  padding-top: 9rem;
} */
h3:hover {
  color: var(--color-accent1);
  text-decoration: underline;
}

/* .globalHeadPad {
  padding-top: 9rem;
} */



/* Estilos para tabletas */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 11px;
  }
  main {
    padding: 0rem 3rem;
    padding-top: 8rem;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 13px;
  }

  p {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }
  main {
    padding: 0rem 3rem;
    padding-top: 8rem;
    margin: 0 auto;
  }
}