.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-background1);
    /* Fondo elegante y sutil */
}

.loading-animation {
    width: 80px;
    height: 80px;
    border: 8px solid var(--color-title5);
    /* Borde externo transparente */
    border-top: 8px solid var(--color-accent1);
    /* Borde coloreado para el efecto de spinning */
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite;
    /* Animación suave y continua */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}