.mainContent {
    margin-top: 4rem;
}

.home {
    background-color: var(--color-background1);
    min-height: 0px;
}

.recommendationIntro h2 {
    color: #006779;
    text-align: center;
}

.headerSection span {
    color: #376ba2;
}

.h1 {
    color: #00709c;
    /* font-family: var(--font-family-p); */
    font-size: 2.6rem;
    font-weight: 800;
    padding-bottom: 1.6rem;
}

.center {
    font-weight: 900;
    text-align: center;
    color: #2d373d;
    font-size: 2.3rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: var(--color-background1);
    /* border: 0.3rem solid rgb(224, 229, 242); */
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    max-width: 50rem;
}

.logoContainer {
    background-image: url('/wikiblue-logo.svg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    /* Adjust as needed */
    height: 9rem;
    /* Adjust as needed*/
    /* text-align: center; */
    margin: 0 auto;
    /* To center the div */
}
/* .ImageBooksContainer {
    background-image: url('/books-banner.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: -3rem;
} */

.bullets li p {
    padding-top: .8rem;
    font-size: 1.5rem;
    font-weight: 400;
}

/* .recommendationIntro {
    margin-left: 1rem;
} */

/* .recommendationIntro h3 {
    padding-top: .0rem;
} */


.bullets {
    list-style: none;
    /* Remove default list bullets */
    /* padding-left: .5rem; */
    padding-right: .5rem;
    padding-left: .5rem;
    /* Adjust as needed */
}

.customBullet {
    position: relative;
    padding-left: 1.5rem;
    /* Adjust as needed, make space for the bullet */
}

.customBullet::before {
    content: '';
    /* Necessary for a pseudo-element */
    position: absolute;
    left: 0;
    /* Align with the text start */
    top: 40%;
    /* Center vertically */
    transform: translateY(-50%);
    /* Precise vertical centering */
    height: 6px;
    /* Bullet size */
    width: 6px;
    /* Bullet size */
    background-color: #1f71ca;
    /* background-color: #007bff; */
    /* Bullet color, change as needed */
    border-radius: 50%;
    /* Makes it circular */
}


















.menuWrapper {
    background-color: var(--color-background1);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    /* height: 100vh; */
    z-index: 100;
    /* padding: .2rem; */
    padding-top: 9rem;
    /* padding-bottom: 5rem; */
    overflow-y: auto;
    overflow-x: hidden;
}

.menuMain {
    max-width: 90rem;
    margin: 0 auto;
    /* padding-bottom: 50rem; */
}

.navbarContainer {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    z-Index: 100;
}

.header {
    color: rgb(163, 196, 224);
    text-align: center;
    /* border: solid 0.1rem var(--color-background2); */
    border-radius: 0.5rem;
    /* margin: 0 4rem; */
    margin: 0 auto;
    max-width: 35rem;
    font-size: 1.5rem;
    /* padding: 0 .5rem; */
    /* margin-bottom: 0.5rem; */
    font-weight: 500;
}

.menuWrapper::-webkit-scrollbar {
    width: 0.5rem;
}

.menuWrapper::-webkit-scrollbar-thumb {
    background: var(--color-active-element);
    border-radius: 0.5rem;
}

.menuWrapper::-webkit-scrollbar-track {
    background: var(--color-background2);
}

.crossIcon {
    font-size: 2.4rem;
    color: black;
    text-decoration: none;
}

.titleField {
    /* font-family: var(--font-family-h1); */
    color: var(--color-darkgreen-text);
    font-size: 1.8rem;
    font-weight: 800;
    /* padding: .5rem 0; */
    padding-bottom: 1.8rem;
    padding-top: 4.5rem;
    text-align: center;
}

.branchContainer {
    padding: 0 1.5rem;
    /* padding-left: 2.5rem; */
    max-width: 40rem;
    margin: 0 auto;
    /* padding-bottom: 9rem; */
}

.gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0.5rem;
}

.navListItem {
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

.subField {
    list-style: none;
    padding-top: 0.5rem;
}

.subField a {
    font-family: var(--font-family-h1);
    /* font-size: 1.6rem; */
    font-weight: 600;
    color: var(--color-h1);
    font-style: normal;
    padding-bottom: .5rem;
    /* color: var(--color-span); */
}



.subTopic {
    font-weight: 300;
    /* line-height: 110%; */
    /* padding-bottom: 0.5rem; */
    border-left: 0.5rem solid var(--color-light);

    padding-left: 0.6rem;
}

.subTopic a {
    font-family: var(--font-family-h1);
    color: var(--color-p);
    /* text-decoration: underline; */
    text-decoration-color: var(--color-accent1);
    /* font-size: 1.7rem; */
    /* font-weight: 600; */
    /* padding-left: .2rem; */
    padding-bottom: .5rem;
    /* line-height: 1; */
}

@media (min-width: 768px) {
    /* .menuWrapper {
    padding-top: 4rem;
  } */

}


@media (min-width: 768px) {
    .navContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        /* align-items: flex-start; */
        align-content: flex-start;
    }

}