.context {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.contextSpace {
    width: 6rem;
    height: 3rem;
    background-image: url('/booksContext.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

