.menuWrapper {
  background-color: var(--color-background1);
  position: fixed;
  width: 100%;
  max-height: 100vh;
  z-index: 10;
  padding-bottom: 50px;
  overflow-y: auto;
}
.menuWrapper::-webkit-scrollbar {
  display: none;
}

.crossIcon {
  font-size: 24px;
  color: black;
  text-decoration: none;
}


.titleField {
  color: var(--color-background3);
  font-size: 20px;
  padding-top: 10px;
}

.branchContainer {
  padding: 10px 10px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 2 columns */
  gap: 2px;
}

.navListItem {
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

.subField {
  list-style: none;
  padding-left: 3px;
  padding-top: 2px;
}

.subTopic {
  font-weight: 500;
  line-height: 110%;
  padding-top: 0px;
  padding-bottom: 5px;
  border-left: 3px solid #d5dbdb;
  padding-left: 3px;
  color: var(--color-title1);
}


