.menuWrapper {
  background-color: var(--color-background1);
  position: fixed;
  width: 100%;
  max-height: 100vh;
  z-index: 10;
  padding-bottom: 50px;
  overflow-y: auto;
}

.header {
  color: var(--color-active-element);
  text-align: center;
  border: solid 1px var(--color-active-element);
  border-radius: 5px;
  margin: 0px 50px;
  margin-top: 15px;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.menuWrapper::-webkit-scrollbar {
  width: 5px;
}

.menuWrapper::-webkit-scrollbar-thumb {
  background: var(--color-accent2);
  border-radius: 8px;
}

.menuWrapper::-webkit-scrollbar-track {
  background: var(--color-background2);
}



.crossIcon {
  font-size: 24px;
  color: black;
  text-decoration: none;
}


.titleField {
  color: var(--color-background3);
  font-size: 20px;
  padding-top: 10px;
}

.branchContainer {
  padding: 10px 10px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.navListItem {
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

.subField {
  list-style: none;
  padding-left: 3px;
  padding-top: 2px;
}

.subTopic {
  font-weight: 500;
  line-height: 110%;
  padding-top: 0px;
  padding-bottom: 5px;
  border-left: 3px solid #d5dbdb;
  padding-left: 3px;
  color: var(--color-title1);
}


