.container {
    padding-top: 20px;
    padding-bottom: 15px;
}

.title {
    margin-bottom: 20px;
}

.cover {
    position: relative;
    margin-bottom: 100px;
}

.cover img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-background2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: var(--color-accent1);
    /* Estilos adicionales para el overlay */
}

.details,
.ratings {
    display: flex;
    justify-content: space-between;
}

.detailItem,
.rating {
    flex: 1;
    text-align: center;
}

.detailTitle {
    margin-bottom: 0.5rem;
}

.active {
    color: var(--color-active-element);
}

