.container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.cover {
    position: relative;
    margin-bottom: 10rem;
}

.coverImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: var(--color-accent1);
}

.details,
.ratings {
    display: flex;
    justify-content: space-between;
}

.detailItem,
.rating {
    flex: 1;
    text-align: center;
}

.detailTitle {
    margin-bottom: 0.5rem;
}

.bookRecommendation .infoGrid,
.bookRecommendation .ratingsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.bookRecommendation .ratingsTitle {
    text-align: center;
}

.title {
    position: relative;
    padding-top: 3rem;
}

/* Estilos para manejar el grid de contenido en pantallas anchas */
.bookRecommendation .contentGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* Media query para pantallas de al menos 768px de ancho */
@media only screen and (min-width: 768px) {
    .title {
        padding-top: 5rem;
    }

    .bookRecommendation .contentGrid {
        grid-template-columns: 1.1fr .9fr;
    }

    .leftColumn {
        padding: 0 2rem;
    }

    .rightColumn {
        padding-top: 2rem;
    }
}